
.modal-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#modal-product-img-container{
    height:250px;
    width:250px;
}

#modal-product-img-container img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

#modal-product-detail-container{
    height:250px;
    width:50%;
    margin: 5px;
    overflow: scroll;
}

/* hide scroll bar */
#modal-product-detail-container::-webkit-scrollbar{
    display: none;
}

#modal-product-detail-container{
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.modal-header,.modal-footer{
    color:white;
    background: rgb(2,0,36);
    background: linear-gradient(216deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

@media (max-width: 576px) { 

    .modal-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #modal-product-img-container{
        width:100%;
    }

    #modal-product-detail-container{
        height:250px;
        width:100%;
        margin: 5px 0;
        overflow: scroll;
    }

}