*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* carousel styling starts */
.carousel-inner{
    height:70vh;
    background-color: orangered;
}

.carousel-item{
    height:100%;
    width:100%;
}

.carousel-imgs{
    height:100%;
    width:100%;
    object-fit: cover;
}

@media (max-width: 576px) {
    .carousel-inner{
        height:30vh;
    }
}

/* carousel styling ends */


/* cards styling starts  */

.card{
    width:18rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#cards-container{
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(18rem,1fr));
    grid-template-rows: repeat(auto-fit,auto);
    gap:20px;
    justify-items: center;
    margin: 10px 0;
}

.card-img-container{
    height:200px;
}

.card-img-container img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.card-foot{
    display:"flex";
    justify-content:"space-between";
    align-items:"baseline";
}

#back2top{
    height:5px;
    width:5px;
    z-index: 500;
}

#back2top span{
    position:fixed;
    right: 0px;
    bottom: 0px;
    text-align: end;
    margin: 5px;
}

#back2top span svg{
    height:10%;
    width:10%;
    opacity: 0.3;
}

@media (max-width: 576px) { 

    #cards-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:400px;
        gap:20px;
        justify-items: center;
        margin: 10px 0;
    }

    .card{
        width:80%;
        margin: 0 auto;
    }


 }

 /* cards styling ends */
